/* svg responsive*/
/*html{
  margin:0;

}*/
body{
  margin:0;
}
#health_effects_of_air_pollution{
  margin:0;
  /*height: 0;*/
  /*padding-top: 48%;*/
  position: relative;
  font-family:Roboto;
}
#health_effects_of_air_pollution svg {
  overflow: hidden;
  position: absolute;
  top: 66px;
  /*right: -332px;*/
  /*top: 0;
  right:-100px;*/
  /*left: 0;*/
  /*width:100%;*/
  /*height:auto;*/
}

#health_effects_of_air_pollution svg g.active path{
  fill:#7fc6d4 !important;
}
#health_effects_of_air_pollution svg g.active.corazon path,
#health_effects_of_air_pollution svg g.active.feto path{
stroke-width: 1px !important;;
stroke: #000 !important;
}

#health_effects_of_air_pollution h1{
  font-size: 3.9vh;
  padding: 1.5vh;
  margin: 0;
}
#health_effects_of_air_pollution h2{
  margin: 0;
  font-size: 2.1vh;
  text-transform: uppercase;
  padding: 3vh 7vh;
  background-image:url('cross.svg');
  background-repeat:no-repeat;
  background-size: 4vh;
  /*background-position: 1.5vh 3vh;*/
  background-position: 1.5vh 2.3vh;
}

#health_effects_of_air_pollution #graph{
  width: 100%;
  max-width: 100%;
}
#health_effects_of_air_pollution .tab{
  cursor:pointer;
  /*cursor:crosshair*/
}
#health_effects_of_air_pollution .tab.cabeza{
  background-color:#008daa;
}
#health_effects_of_air_pollution .tab.respiratorio{
   background-color:#1998b2;
}
#health_effects_of_air_pollution .tab.corazon{
   background-color:#33a4bb;

}
#health_effects_of_air_pollution .tab.arterias{
   background-color:#4dafc4;
}
#health_effects_of_air_pollution .tab.feto{
  background-color:#66bbcc;
}
#health_effects_of_air_pollution .tab.reproductivo{
   background-color:#7fc6d4;
}

#health_effects_of_air_pollution .tab .content{
  display:none;
  background-color:#cbcaca;
  padding: 1vh 1vh 1vh 1vh;
  font-size: 2.6vh;
  position:absolute;
  /*overflow-y:auto;*/
  /*width: 100%;*/
  left: 0;
  right: 0;
}
#health_effects_of_air_pollution .tab .content p{
  font-size: 2.6vh;
}
#health_effects_of_air_pollution .tab .content div{
  overflow: hidden;
  /*height:200px;*/
}
#health_effects_of_air_pollution .tab.reproductivo .content{
  /*width:100%;*/
}
#health_effects_of_air_pollution .tab.active h2{
  background-image:url('go_back.svg');
}
#health_effects_of_air_pollution .tab.active .content{
  display:block
}
#health_effects_of_air_pollution .tab.hide{
  display:none;
}
#health_effects_of_air_pollution .tab .content span.first{
  /*font-size: 3vh;*/
  margin-bottom: 1vh;
  display: inline-block;
}
#health_effects_of_air_pollution .font,
#health_effects_of_air_pollution .font a{
  font-size: 1.8vh;
  font-style: italic;
}
#health_effects_of_air_pollution .content b{
  font-weight:700;
}
#health_effects_of_air_pollution .content a{
  /*white-space: normal;*/
  display:inline-block;
  width: 50vh;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: middle;
}

#health_effects_of_air_pollution .jspVerticalBar{
  width:8px;
  background: none;
}
#health_effects_of_air_pollution .jspTrack{
  background:#999;
  /*opacity:.6;*/
  webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
#health_effects_of_air_pollution .jspDrag{
  background:#666;
  /*opacity:.6;*/
  webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}


/* Landscape */
@media screen and (orientation:landscape) {
   /* Landscape styles here */
   #health_effects_of_air_pollution h1{
     font-size: 3.9vw;
     padding: 1.5vw;
   }
   #health_effects_of_air_pollution h2{
     font-size: 2.1vw;
     padding: 3vw 7vw;
     background-size: 4vw;

     background-position: 1.5vw 2.3vw;
   }
   #health_effects_of_air_pollution .tab .content{
     padding: 1vw 1vw 1vw 1vw;
     font-size: 2.6vw;
   }
   #health_effects_of_air_pollution .tab .content p{
     font-size: 2.6vh;
   }
   #health_effects_of_air_pollution .tab .content span.first{
     /*font-size: 3vw;*/
     margin-bottom: 1vw;
     display: inline-block;
   }
   #health_effects_of_air_pollution .font,
   #health_effects_of_air_pollution .font a{
     font-size: 1.8vw;

   }
}
